@font-face {
    font-family: 'Logo';
    src: local('Logo'),
        url('./Neuropa.otf') format('opentype')
}

.logo {
    font-family: Logo !important;
    font-size: 24px !important;
    line-height: 0 !important;
    margin-right: 16px !important;
}